body {
    background-color:#E8D4D1;

    background-position: center;
}

h1, h2 {
    font-weight: 600;
    font-family: cursive;
}

#bodyOfList {
    padding-top: 1vh;
    border-bottom: 2px solid darkgreen;
}
